<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addProperty</title>

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/addProperty.css">
</head>

<body>
    <%- include('navbar.ejs') %>
        <!-- <div id="addProperty">
            <div class="addPropertyContainer container">
                <h2 class="optionTitle">Add <span>property</span></h2>

                <form class="addForm" action="/addProperty" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="basicInfo bigBox">
                        <div class="bigBoxTitle">
                            <i class="fa-solid fa-circle-info"></i>
                            <h3>Basic info</h3>
                        </div>

                        <div class="inputs">
                            <div class="input inputTop">
                                <h4 class="inputTitle">Title <span>*</span></h4>
                                <input type="text" name="productName" placeholder="Pine Apartments" maxlength="30">
                            </div>
                            <div class="inputsBottom">
                                <div class="input">
                                    <h4 class="inputTitle">Category <span>*</span></h4>
                                    <select class="categorySelect" name="category">
                                        <option value="" disabled hidden selected><span>Choose category</span></option>
                                        <option value="sale">For sale</option>
                                        <option value="rent">For rent</option>
                                    </select>
                                </div>
                                <div class="input">
                                    <h4 class="inputTitle">Property type <span>*</span></h4>
                                    <select name="property">
                                        <option value="" disabled hidden selected><span>Choose property</span></option>
                                        <option value="House">Private House</option>
                                        <option value="Appartment">Appartment</option>
                                        <option value="Hotel">Exclusive Hotel</option>
                                        <option value="Restoran">Restoran</option>
                                        <option value="Werehouse">Werehouse</option>
                                        <option value="Room">Private Room</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="locationDate bigBox">
                        <div class="bigBoxTitle">
                            <i class="fa-solid fa-location-dot"></i>
                            <h3>Location</h3>
                        </div>

                        <div class="inputs">
                            <div class="input">
                                <h4 class="inputTitle">City <span>*</span></h4>
                                <select name="locationCity">
                                    <option value="" disabled hidden selected><span>Location</span></option>
                                    <option value="Artashat">Artashat</option>
                                    <option value="Erevan">Erevan</option>
                                    <option value="Vostan">Vostan</option>
                                    <option value="Paris">Paris</option>
                                    <option value="London">London</option>
                                    <option value="Moscow">Moscow</option>
                                </select>
                            </div>

                            <div class="input">
                                <h4 class="inputTitle">Street address <span>*</span></h4>
                                <input type="text" name="homeAddress" placeholder="28 Jackson Avenue" maxlength="50">
                            </div>
                        </div>
                    </div>

                    <div class="propertyDetails bigBox">
                        <div class="bigBoxTitle">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <h3>Property details</h3>
                        </div>

                        <div class="propertyInputs">
                            <div class="inputBox">
                                <p>Bedrooms</p>
                                <div class="choose chooseBed">
                                    <input class="chooseInput" type="hidden" name="chooseBed" value="1">
                                    <button type="button" data-count="1" class="btn active">1</button>
                                    <button type="button" data-count="2" class="btn">2</button>
                                    <button type="button" data-count="3" class="btn">3</button>
                                    <button type="button" data-count="4+" class="btn">4+</button>
                                </div>
                            </div>

                            <div class="inputBox">
                                <p>Bathrooms</p>
                                <div class="choose chooseBath">
                                    <input class="chooseInput" type="hidden" name="chooseBath" value="1">
                                    <button type="button" data-count="1" class="btn active">1</button>
                                    <button type="button" data-count="2" class="btn">2</button>
                                    <button type="button" data-count="3" class="btn">3</button>
                                    <button type="button" data-count="4+" class="btn">4+</button>
                                </div>
                            </div>

                            <div class="inputBox">
                                <p>Parking places</p>
                                <div class="choose chooseParking">
                                    <input class="chooseInput" type="hidden" name="chooseParking" value="1">
                                    <button type="button" data-count="1" class="btn active">1</button>
                                    <button type="button" data-count="2" class="btn">2</button>
                                    <button type="button" data-count="3" class="btn">3</button>
                                    <button type="button" data-count="4+" class="btn">4+</button>
                                </div>
                            </div>

                            <div class="inputBox textarea">
                                <p>Description</p>
                                <textarea placeholder="Description your property" name="description"
                                    maxlength="1500"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="priceBox bigBox">
                        <div class="bigBoxTitle">
                            <i class="fa-solid fa-money-bill"></i>
                            <h3>Price</h3>
                        </div>

                        <div class="priceBoxInfo">
                            <p>Price <span>*</span></p>
                            <div class="inputs">
                                <div class="input">
                                    <input type="text" value="$" disabled>
                                </div>
                                <div class="input">
                                    <input type="number" name="price" placeholder="980">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="addPhotos bigBox">
                        <div class="bigBoxTitle">
                            <i class="fa-solid fa-images"></i>
                            <h3>Photos</h3>
                        </div>

                        <input type="hidden" class="removeImage" name="removeImage" value="">
                        <input type="file" name="fileimg" id="file" multiple hidden required />

                        <label class="fileLabel" for="file">
                            <div class="buttonCont">
                                <div class="button"><i class="fa-solid fa-cloud-arrow-up"></i> Upload Photos</div>
                            </div>

                            <label class="images"></label>
                        </label>
                    </div>

                    <button type="submit" style="padding: 20px; cursor: pointer;">Click me</button>
                </form>
            </div>
        </div> -->
        <% if(method==='put') { %>
            <script src="/scripts/putDate.js" defer></script>
            <div id="addProperty">
                <div class="addPropertyContainer container">
                    <h2 class="optionTitle">Put <span>property</span></h2>

                    <form class="addForm" action="/addProperty?_method=PUT&productId=<%= getProductInfo.id %>" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                       
                        <div class="basicInfo bigBox">
                            <div class="bigBoxTitle">
                                <i class="fa-solid fa-circle-info"></i>
                                <h3>Basic info</h3>
                            </div>

                            <div class="inputs">
                                <div class="input inputTop">
                                    <h4 class="inputTitle">Title <span>*</span></h4>
                                    <input type="text" name="productName" placeholder="Pine Apartments"
                                        value="<%= getProductInfo.productName %>" maxlength="30">
                                </div>
                                <div class="inputsBottom">
                                    <div class="input">
                                        <h4 class="inputTitle">Category <span>*</span></h4>
                                        <select class="categorySelect" name="category"
                                            data-choose="<%= getProductInfo.category %>">
                                            <option value="" disabled hidden selected><span>Choose category</span>
                                            </option>
                                            <option value="sale">For sale</option>
                                            <option value="rent">For rent</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <h4 class="inputTitle">Property type <span>*</span></h4>
                                        <select name="property" data-choose="<%= getProductInfo.property %>">
                                            <option value="" disabled hidden selected><span>Choose property</span>
                                            </option>
                                            <option value="House">Private House</option>
                                            <option value="Appartment">Appartment</option>
                                            <option value="Hotel">Exclusive Hotel</option>
                                            <option value="Restoran">Restoran</option>
                                            <option value="Werehouse">Werehouse</option>
                                            <option value="Room">Private Room</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="locationDate bigBox">
                            <div class="bigBoxTitle">
                                <i class="fa-solid fa-location-dot"></i>
                                <h3>Location</h3>
                            </div>

                            <div class="inputs">
                                <div class="input">
                                    <h4 class="inputTitle">City <span>*</span></h4>
                                    <select name="locationCity" data-choose="<%= getProductInfo.location %>">
                                        <option value="" disabled hidden selected><span>Location</span></option>
                                        <option value="Artashat">Artashat</option>
                                        <option value="Erevan">Erevan</option>
                                        <option value="Vostan">Vostan</option>
                                        <option value="Paris">Paris</option>
                                        <option value="London">London</option>
                                        <option value="Moscow">Moscow</option>
                                    </select>
                                </div>

                                <div class="input">
                                    <h4 class="inputTitle">Street address <span>*</span></h4>
                                    <input type="text" name="homeAddress" value="<%= getProductInfo.homeAddress %>"
                                        placeholder="28 Jackson Avenue" maxlength="50">
                                </div>
                            </div>
                        </div>

                        <div class="propertyDetails bigBox">
                            <div class="bigBoxTitle">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <h3>Property details</h3>
                            </div>

                            <div class="propertyInputs">
                                <div class="inputBox">
                                    <p>Bedrooms</p>
                                    <div class="choose chooseBed">
                                        <input class="chooseInput" type="hidden" name="chooseBed"
                                            value="<%= getProductInfo.bedRooms %>">
                                        <button type="button" data-count="1" class="btn active">1</button>
                                        <button type="button" data-count="2" class="btn">2</button>
                                        <button type="button" data-count="3" class="btn">3</button>
                                        <button type="button" data-count="4" class="btn">4+</button>
                                    </div>
                                </div>

                                <div class="inputBox">
                                    <p>Bathrooms</p>
                                    <div class="choose chooseBath">
                                        <input class="chooseInput" type="hidden" name="chooseBath"
                                            value="<%= getProductInfo.bathRooms %>">
                                        <button type="button" data-count="1" class="btn active">1</button>
                                        <button type="button" data-count="2" class="btn">2</button>
                                        <button type="button" data-count="3" class="btn">3</button>
                                        <button type="button" data-count="4" class="btn">4+</button>
                                    </div>
                                </div>

                                <div class="inputBox">
                                    <p>Parking places</p>
                                    <div class="choose chooseParking"">
                                        <input class=" chooseInput" type="hidden" name="chooseParking"
                                        value="<%= getProductInfo.parkingPlace %>">
                                        <button type="button" data-count="1" class="btn active">1</button>
                                        <button type="button" data-count="2" class="btn">2</button>
                                        <button type="button" data-count="3" class="btn">3</button>
                                        <button type="button" data-count="4" class="btn">4+</button>
                                    </div>
                                </div>

                                <div class="inputBox textarea">
                                    <p>Description</p>
                                    <textarea placeholder="Description your property" name="description"
                                        maxlength="1500"><%= getProductInfo.description %></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="priceBox bigBox">
                            <div class="bigBoxTitle">
                                <i class="fa-solid fa-money-bill"></i>
                                <h3>Price</h3>
                            </div>

                            <div class="priceBoxInfo">
                                <p>Price <span>*</span></p>
                                <div class="inputs">
                                    <div class="input">
                                        <input type="text" value="$" disabled>
                                    </div>
                                    <div class="input">
                                        <input type="number" value="<%= getProductInfo.price %>" name="price"
                                            placeholder="980">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="addPhotos bigBox">
                            <div class="bigBoxTitle">
                                <i class="fa-solid fa-images"></i>
                                <h3>Photos</h3>
                            </div>

                            <input type="hidden" class="removeImage" name="removeImage" value="">
                            <input type="file" name="fileimg" id="file" data-images="<%= getProductInfo.images %>"
                                multiple hidden required />

                            <label class="fileLabel" for="file">
                                <div class="buttonCont">
                                    <div class="button"><i class="fa-solid fa-cloud-arrow-up"></i> Upload Photos</div>
                                </div>

                                <label class="images"></label>
                            </label>
                        </div>
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="formerImages" value="<%= getProductInfo.images %>">
                        <button type="submit" style="padding: 20px; cursor: pointer;">Click me</button>
                    </form>
                </div>
            </div>
            <% } else { %>
                <div id="addProperty">
                    <div class="addPropertyContainer container">
                        <h2 class="optionTitle">Add <span>property</span></h2>

                        <form class="addForm" action="/addProperty" enctype="multipart/form-data" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="basicInfo bigBox">
                                <div class="bigBoxTitle">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <h3>Basic info</h3>
                                </div>

                                <div class="inputs">
                                    <div class="input inputTop">
                                        <h4 class="inputTitle">Title <span>*</span></h4>
                                        <input type="text" name="productName" placeholder="Pine Apartments"
                                            maxlength="30">
                                    </div>
                                    <div class="inputsBottom">
                                        <div class="input">
                                            <h4 class="inputTitle">Category <span>*</span></h4>
                                            <select class="categorySelect" name="category">
                                                <option value="" disabled hidden selected><span>Choose category</span>
                                                </option>
                                                <option value="sale">For sale</option>
                                                <option value="rent">For rent</option>
                                            </select>
                                        </div>
                                        <div class="input">
                                            <h4 class="inputTitle">Property type <span>*</span></h4>
                                            <select name="property">
                                                <option value="" disabled hidden selected><span>Choose property</span>
                                                </option>
                                                <option value="House">Private House</option>
                                                <option value="Appartment">Appartment</option>
                                                <option value="Hotel">Exclusive Hotel</option>
                                                <option value="Restoran">Restoran</option>
                                                <option value="Werehouse">Werehouse</option>
                                                <option value="Room">Private Room</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="locationDate bigBox">
                                <div class="bigBoxTitle">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h3>Location</h3>
                                </div>

                                <div class="inputs">
                                    <div class="input">
                                        <h4 class="inputTitle">City <span>*</span></h4>
                                        <select name="locationCity">
                                            <option value="" disabled hidden selected><span>Location</span></option>
                                            <option value="Artashat">Artashat</option>
                                            <option value="Erevan">Erevan</option>
                                            <option value="Vostan">Vostan</option>
                                            <option value="Paris">Paris</option>
                                            <option value="London">London</option>
                                            <option value="Moscow">Moscow</option>
                                        </select>
                                    </div>

                                    <div class="input">
                                        <h4 class="inputTitle">Street address <span>*</span></h4>
                                        <input type="text" name="homeAddress" placeholder="28 Jackson Avenue"
                                            maxlength="50">
                                    </div>
                                </div>
                            </div>

                            <div class="propertyDetails bigBox">
                                <div class="bigBoxTitle">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <h3>Property details</h3>
                                </div>

                                <div class="propertyInputs">
                                    <div class="inputBox">
                                        <p>Bedrooms</p>
                                        <div class="choose chooseBed">
                                            <input class="chooseInput" type="hidden" name="chooseBed" value="1">
                                            <button type="button" data-count="1" class="btn active">1</button>
                                            <button type="button" data-count="2" class="btn">2</button>
                                            <button type="button" data-count="3" class="btn">3</button>
                                            <button type="button" data-count="4" class="btn">4+</button>
                                        </div>
                                    </div>

                                    <div class="inputBox">
                                        <p>Bathrooms</p>
                                        <div class="choose chooseBath">
                                            <input class="chooseInput" type="hidden" name="chooseBath" value="1">
                                            <button type="button" data-count="1" class="btn active">1</button>
                                            <button type="button" data-count="2" class="btn">2</button>
                                            <button type="button" data-count="3" class="btn">3</button>
                                            <button type="button" data-count="4" class="btn">4+</button>
                                        </div>
                                    </div>

                                    <div class="inputBox">
                                        <p>Parking places</p>
                                        <div class="choose chooseParking">
                                            <input class="chooseInput" type="hidden" name="chooseParking" value="1">
                                            <button type="button" data-count="1" class="btn active">1</button>
                                            <button type="button" data-count="2" class="btn">2</button>
                                            <button type="button" data-count="3" class="btn">3</button>
                                            <button type="button" data-count="4" class="btn">4+</button>
                                        </div>
                                    </div>

                                    <div class="inputBox textarea">
                                        <p>Description</p>
                                        <textarea placeholder="Description your property" name="description"
                                            maxlength="1500"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="priceBox bigBox">
                                <div class="bigBoxTitle">
                                    <i class="fa-solid fa-money-bill"></i>
                                    <h3>Price</h3>
                                </div>

                                <div class="priceBoxInfo">
                                    <p>Price <span>*</span></p>
                                    <div class="inputs">
                                        <div class="input">
                                            <input type="text" value="$" disabled>
                                        </div>
                                        <div class="input">
                                            <input type="number" name="price" placeholder="980">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="addPhotos bigBox">
                                <div class="bigBoxTitle">
                                    <i class="fa-solid fa-images"></i>
                                    <h3>Photos</h3>
                                </div>

                                <input type="hidden" class="removeImage" name="removeImage" value="">
                                <input type="file" name="fileimg" id="file" multiple hidden required />

                                <label class="fileLabel" for="file">
                                    <div class="buttonCont">
                                        <div class="button"><i class="fa-solid fa-cloud-arrow-up"></i> Upload Photos
                                        </div>
                                    </div>

                                    <label class="images"></label>
                                </label>
                            </div>

                            <button type="submit" style="padding: 20px; cursor: pointer;">Click me</button>
                        </form>
                    </div>
                </div>
                <h1>aaaaaaaaaaa</h1>
                <% } %>
                    <%- include('footer.ejs') %>

                        <script src="/scripts/nav.js" defer></script>
                        <script src="/scripts/addProperty.js" defer></script>
</body>

</html>