<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="<%= csrfToken %>">
    <title>catalog</title>

    <link rel="stylesheet" href="/css/catalog.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <%- include('navbar.ejs') %>

        <div id="catalog">
            <div class="catalogContainer">
                <div class="catalogAside" data-csrf="<%= csrfToken %>">
                    <div class="category" data-choose-category="<%= category %>">
                        <button data-category="rent"><i
                                class="fa-solid fa-building-circle-arrow-right"></i><span>For Rent</span></button>
                        <button data-category="sale"><i class="fa-solid fa-house-chimney-window"></i><span>For
                                Sale</span></button>
                    </div>

                    <div class="location asideBox">
                        <h3 class="asideTitle">Location</h3>
                        <select class="locationSelect">
                            <option value="" disabled hidden selected><i class="fa-solid fa-location-dot"></i><span>Location</span></option>
                            <option value="Artashat">Artashat</option>
                            <option value="Erevan">Erevan</option>
                            <option value="Vostan">Vostan</option>
                            <option value="Paris">Paris</option>
                            <option value="London">London</option>
                            <option value="Moscow">Moscow</option>
                        </select>
                    </div>
                    <div class="property asideBox">
                        <h3 class="asideTitle">Property type</h3>

                        <div class="lists">
                            <label class="checkBox">
                                <input type="checkbox" data-property="house">
                                <span>House</span>
                            </label>
                            <label class="checkBox">
                                <input type="checkbox" data-property="appartment">
                                <span>Appartment</span>
                            </label>
                            <label class="checkBox">
                                <input type="checkbox" data-property="hotel">
                                <span>Hotel</span>
                            </label>
                            <label class="checkBox">
                                <input type="checkbox" data-property="room">
                                <span>Room</span>
                            </label>
                            <label class="checkBox">
                                <input type="checkbox" data-property="warehouse">
                                <span>Warehouse</span>
                            </label>
                        </div>
                    </div>

                    <div class="price asideBox">
                        <h3 class="asideTitle">Price per month</h3>

                        <div class="priceInputs">
                            <div class="inputBox">
                                <input type="text" value="$" disabled>
                                <input class="minPrice" type="number" placeholder="9000" step="500">
                            </div>
                            <div class="inputBox">
                                <input type="text" value="$" disabled>
                                <input class="maxPrice" type="number" placeholder="18000" step="500">
                            </div>
                        </div>
                    </div>

                    <div class="rooms asideBox">
                        <h3 class="asideTitle">Beds & baths</h3>

                        <div class="inputBox">
                            <p>Bedrooms</p>
                            <div class="choose chooseBed">
                                <button data-count="1" class="btn">1</button>
                                <button data-count="2" class="btn">2</button>
                                <button data-count="3" class="btn">3</button>
                                <button data-count="4" class="btn">4+</button>
                            </div>
                        </div>
                        <div class="inputBox">
                            <p>Bathrooms</p>
                            <div class="choose chooseBath">
                                <button data-count="1" class="btn">1</button>
                                <button data-count="2" class="btn">2</button>
                                <button data-count="3" class="btn">3</button>
                                <button data-count="4" class="btn">4+</button>
                            </div>
                        </div>
                    </div>
                    <button class="filterButton"><i class="fa-solid fa-arrows-rotate"></i><span>Reset filters</span></button>
                </div>

                <div class="main">
                    <h2 class="optionTitle">Property for <span class="TitleCategory">rent</span></h2>

                    <div class="boxes" data-like-active="<%= JSON.stringify(likeBtns) %>">
                        <% products.forEach(product => { %>
                            <div class="box" id="<%= product.id %>">
                                <div class="img">
                                    <img src="/images/upload/<%= product.images %>" alt="...">
                                    <div class="imgTop">
                                        <p class="type">For <%= product.category %></p>
                                        <button class="likeBtn wishlistBtn" data-id="<%= product.id %>">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="top">
                                        <h3><%= product.productName %></h3>
                                        <div class="location">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <span>In <%= product.location %> city and home address <%= product.homeAddress %></span>
                                        </div>
                                        <div class="info">
                                            <div class="card"><i class="fa-solid fa-bed"></i> <span><%= product.bedRooms %></span></div>
                                            <div class="card"><i class="fa-solid fa-bath"></i> <span><%= product.bathRooms %></span></div>
                                        </div>
                                    </div>
                                    <div class="down">
                                        <span class="price"><b>$<%= product.price %>/</b> Night</span>
                                        <a href="/single/<%= product.id %>"><button class="btn">View More</button></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div> 
                </div>
            </div>
        </div>

        <button class="respFilterBtn"><i class="fa-solid fa-filter"></i><span>Filters</span></button>
        
        
        <div class="responsiveFilters">
            <div class="responsiveFiltersAside catalogAside">
                <div class="top">
                    <div class="logo">
                        <img src="/images/logo-black.png" alt="">
                    </div>
                    <button class="btn closeBtn"><i class="fa-solid fa-xmark"></i></button>
                </div>
    
                <div class="category">
                    <button data-category="rent"><i
                            class="fa-solid fa-building-circle-arrow-right"></i><span>For Rent</span></button>
                    <button data-category="sale"><i class="fa-solid fa-house-chimney-window"></i><span>For
                            Sale</span></button>
                </div>

                <div class="location asideBox">
                    <h3 class="asideTitle">Location</h3>
                    <select class="locationSelect">
                        <option value="" disabled hidden selected><span>Location</span></option>
                        <option value="Artashat">Artashat</option>
                        <option value="Erevan">Erevan</option>
                        <option value="Vostan">Vostan</option>
                        <option value="Paris">Paris</option>
                        <option value="London">London</option>
                        <option value="Moscow">Moscow</option>
                    </select>
                </div>
                <div class="property asideBox">
                    <h3 class="asideTitle">Property type</h3>

                    <div class="lists">
                        <label class="checkBox">
                            <input type="checkbox" data-property="house">
                            <span>House</span>
                        </label>
                        <label class="checkBox">
                            <input type="checkbox" data-property="apartment">
                            <span>Apartment</span>
                        </label>
                        <label class="checkBox">
                            <input type="checkbox" data-property="hotel">
                            <span>Hotel</span>
                        </label>
                        <label class="checkBox">
                            <input type="checkbox" data-property="room">
                            <span>Room</span>
                        </label>
                        <label class="checkBox">
                            <input type="checkbox" data-property="warehouse">
                            <span>Warehouse</span>
                        </label>
                    </div>
                </div>

                <div class="price asideBox">
                    <h3 class="asideTitle">Price per month</h3>

                    <div class="priceInputs">
                        <div class="inputBox">
                            <input type="text" value="$" disabled>
                            <input class="minPrice" type="number" placeholder="9000" step="500">
                        </div>
                        <div class="inputBox">
                            <input type="text" value="$" disabled>
                            <input class="maxPrice" type="number" placeholder="18000" step="500">
                        </div>
                    </div>
                </div>

                <div class="rooms asideBox">
                    <h3 class="asideTitle">Beds & baths</h3>

                    <div class="inputBox">
                        <p>Bedrooms</p>
                        <div class="choose chooseBed">
                            <button data-count="1" class="btn">1</button>
                            <button data-count="2" class="btn">2</button>
                            <button data-count="3" class="btn">3</button>
                            <button data-count="4" class="btn">4+</button>
                        </div>
                    </div>
                    <div class="inputBox">
                        <p>Bathrooms</p>
                        <div class="choose chooseBath">
                            <button data-count="1" class="btn">1</button>
                            <button data-count="2" class="btn">2</button>
                            <button data-count="3" class="btn">3</button>
                            <button data-count="4" class="btn">4+</button>
                        </div>
                    </div>
                </div>
                <button class="filterButton"><i class="fa-solid fa-arrows-rotate"></i><span>Reset filters</span></button>
            </div>
        </div>

        <%- include('footer.ejs') %>

        <script src="/scripts/nav.js" defer></script>
        <script src="/scripts/catalog.js" type="module" defer></script>
        <script src="/scripts/addWishlist.js" type="module" defer></script>

</body>
</html>